torch
transformers
accelerate
av
pillow
torchvision
timm
librosa
bitsandbytes
unsloth[colab-new]
resampy
fastapi
uvicorn
python-multipart
soundfile
pydantic<2
skidl
python-uinput
mss
Pillow
numpy
pymavlink